@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.gameInfo {
	display: inline-block;
	vertical-align: top;
	width: 200;
	height: 500;
}

.scorePanel {
	text-align: left;
	margin-left: 10%;
}

.scorePanel h2 {
	margin-bottom: 5px;
}

.scoreInfo {
	font-size: xx-large;
	color: #00C853;
}

.gameField {
	border-style: solid;
	width: 300;
	height: 660;
	display: inline-block;
	background-color: #CFD8DC;
}

.nextTetromino {
	border-style: solid;
	margin-left: 10%;
}
